page-exemplo2 {
  #map {
    height: 100%;
  }

    #map {
      height: 80%;
    }
    .getstart {
      background-color: whitesmoke;

      background-image: url('../assets/img/images.jfif');
    }
    .nota{
      background-color: rgb(255, 255, 0);
    }
}
