page-exemplo4 {
  #map {
    height: 80%;
  }
  .getstart {
      background-color: whitesmoke;

      background-image: url('../assets/img/fi.jpg');
    }
    .nota{
      background-color: rgba(0, 225, 255, 0.911);
    }
  }
  /*.h1*{
    color: aliceblue;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;

  }*/
  /*.p*{*
    color: #48C3EF ;
    display: block;
    font-size: 1em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }*/


