page-exemplo1 {

  .background{
    background-image: url('../assets/img/bru.jpeg');

   /*background-color: #50CC9B;*/
  }
  .image{
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
  .h1{
    color: white;

  }
  .p{
    color: whitesmoke;
  }
  .nota{
    background-color: rgba(0, 225, 255, 0.911);
  }
    }



