page-sobre {
  //.bg {
  //  background: radial-gradient(#904779 0%, #fff 100%);
 // }
    .bg-image {
      background-image: url('../assets/img/painel-madeira-g-frete-gratis-banner.jpg');
      background-repeat: repeat;
      background-size: contain;
    }
    .folha{
     // background-image: url('../assets/img/folhas.jfif');
      background-repeat: repeat;
      background-size: contain;
    }
    .folha1{
     // background-image: url('../assets/img/folhas1.jfif');
      background-repeat: repeat;
      background-size: contain;
    }
    .folha2{
     // background-image: url('../assets/img/folhas2.jfif');
      background-repeat: repeat;
      background-size: contain;
    }
    .h21{
      color:lightcyan;
      font-size: 30pt;
    }
    .text{
      background-color: rgb(243, 235, 235);
    }
}
